body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #D6F19B;
}

.wrapper{
  max-width: 960px;
  margin: 0 auto;
}

h1{
  font-size: 5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

p.desc{
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
}
p{
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.videoarea{
  display: flex;
  justify-content: center;
}

footer{
  font-family: 'M PLUS Rounded 1c', sans-serif;
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
  background-color: #89B34A;
  padding: 10px 0;
  color: white;
  line-height: 1.7;
}
footer a{
  color: #fafafa;
}